html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.edit-button {
    background-color:#30363d;
    color: aliceblue;
    border: 2px solid #008CBA;
    padding: 6px;
    cursor: pointer;
    border-radius: 12px;
}

.edit-button:hover{
    background-color: #008CBA
}

.site-container {
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.header {
    background-color: #30363d;
    flex-shrink: 0;
    width: 100%;
    color: aliceblue;
    margin: 0px 16px;
    min-height: 70px;
}

.header-title {
    font-size: 22px;
    text-align: center;
}

.footer {
    background-color: #30363d;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.github-link{
    max-height: 22px;
}

.footer-text{

}

.main {
    flex-grow: 1;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 2200px;
    margin: 0px;
    gap: 30px;
}

.main-palette {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    gap: 100px;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 75%;
}

.editor-sidebar {
    background-color: #30363d;
    flex-shrink: 0;
    flex-grow: 1;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.canvas-area {
    flex-shrink: 0;
    background-color:#30363d;
    height: 700px;
    min-width: 800px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    margin: 25px;
    background-color:
    overflow: hidden;
    position: relative;
    max-width: 700px;
    max-height: 700px;
}

#current-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.meme-bar {
    background-color:#30363d;
    max-width: 75%;
    min-height: 150px;
    min-width: 75%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-bottom: 40px;
}

.memes-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#meme-text-placeholder {
    font-size: 32px;
}

.sidebar-image-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;

}

.sidebar-image-selection-button {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    text-align: center;
    align-items: center;
}

.input-buttons {
    margin: 16px 0px;
    text-align: center;
}

.sidebar-editor-button {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.sidebar-text-input {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.value-display {
    width: 16px;
    margin: 0px 16px;
    text-align: center;
}


.input-slider-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}


.text-content {
    width: 300px;
    height: 25px;
}

#url-input {
    width: 250px;
    height: 25px;
}

.top-text-box,
.bottom-text-box {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 36px;
}

.top-text-box {
    top: 0px;
}

.bottom-text-box {
    bottom: 0px;
}

.saved-meme:hover * {

}

.saved-meme:hover .deleteButton {
    display: block;
}

.deleteButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color:white;
    color: black;
    border: 2px solid #161b22;
    padding: 6px;
    cursor: pointer;
    border-radius: 12px;
}

.deleteButton:hover {
    background-color: red;
    color: white;
}